p {
    color: navy;
    text-transform: uppercase;
    font-size: 20px;
    font-style: Verdana;
    margin-right: 70%;
  }



  img{

    margin-left: 1%;
    margin-right: auto;
    width: 25%;
  
  }